
p{
    color: beige;
}

body{
    background-color: black;

}
h1{
    color: rebeccapurple;
    font-size: 6em;
    text-align: center;
    background-color: pink;
    text-decoration:underline;
    
}
a{
    text-decoration: underline;
    color: yellowgreen;
    
}
p{
    align-content:centre;

}
h3{
    color: palevioletred;
    background-color: orange;
        
}
h2{
    color: 
    font-size:40px;
    
}

